<footer class=" p-2 flex-shrink-0 ">
    <div class="container py-4">
        <div class="row gy-4 gx-5 custom__row">
            <div class="col-lg-4 col-md-6">
                <h5 class="h1 text-white">FB.</h5>
                <p class="small text-muted">Hi I am Animesh Maity 2023 pass out MCA Post Graduate fresher, Like to Learn 
                    and Work on Software Engineering , Web Development and want to explore 
                    more about this field and want to contribute my skills for company benefits</p>
                <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <strong>Animesh Maity</strong></p>
            </div>
            
         
            <div class="col-lg-4 col-md-6">
                <h5 class="text-white mb-3">Newsletter</h5>
                <h5 class="text-white mb-3">Quick links</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="mailto:animeshmaity108@gmail.com">Mail : animeshmaity108@gmail.com</a></li>
                    <li><a href="tel:+917980030685">contact Me</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>